@import '../variable/color.scss';
.room-wrapper {
  height: 500px;
  position: relative;
  top: 10%;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.user-content {
  background-color: white;
  height: 100%;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.user-content__list {
  max-height: 440px;
  background-color: white;
}
.user-list {
  .user-item{
    &.is-active {
      background-color: cornflowerblue;
    }
  }
}