@import '../variable/color.scss';
.room-wrapper {
  height: 500px;
  position: relative;
  top: 10%;
  overflow: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.user-content {
  position: relative;
  z-index: 5;
  background-color: white;
  height: 100%;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.user-content__list {
  max-height: 440px;
  background-color: white;
}
.chat-content__list {
  height: calc(100% - 104px);
  .content--wrap {
    height: 100%;
  }
}
.user-list {
  .user-item{
    &.avatar-active {
      background-color: cornflowerblue;
    }
  }
}
/*'#f44336', '#e91e63', '#673ab7', '#9c27b0', '#3f51b5', '#2196f3', '#03a9f4', '#4caf50', '#009688', '#8bc34a']*/
.list__tile__avatar {
  .avatar {
    color: #fff;
    font-size: 16px;
  }
   &.avatar-red {
     .avatar {
       background-color: #f44336;
     }
   }
   &.avatar-pink {
     .avatar {
       background-color: #e91e63;
     }
   }
   &.avatar-purple {
     .avatar {
       background-color: #673ab7;
     }
   }
   &.avatar-deep-purple {
     .avatar {
       background-color: #9c27b0;
    }
   }
   &.avatar-indigo {
     .avatar {
       background-color: #3f51b5;
     }
   }
   &.avatar-blue {
     .avatar {
       background-color: #2196f3;
    }
   }
   &.avatar-light-blue {
     .avatar {
       background-color: #03a9f4;
     }
   }
   &.avatar-cyan {
     .avatar {
       background-color: #4caf50;
     }
   }
   &.avatar-teal {
     .avatar {
       background-color: #009688;
     }
   }
   &.avatar-green {
     .avatar {
       background-color: #8bc34a;
     }
   }
}
.chat-history__content {
  &.list {
    background-color: transparent;
    .list__tile {
      align-items: flex-start;
      .list__tile__title {
        font-size: 13px;
      }
    }
    .list__tile--avatar {
      height: auto;
        .avatar {
          width: 32px;
          height: 32px;
        }
    }
    .list__tile__content {
      justify-content: flex-start;
      overflow: initial;
      padding-top: 2px;
      .list__tile__title,
      .list__tile__sub-title {
        white-space: inherit;
        overflow: visible;
      }
      .list__tile__sub-title {
        word-break: break-all;
      }
    }
  }
}
.chat-history__content {
  justify-content: flex-start;
}
.chat-history__text {
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  width: 100%;
  word-break: break-all;
}